html{
	height: 100%;
	font: normal 100% Gotham Rounded, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}
body{
	background: rgb(246,246,248);
}
.CompanyIconPart{
	width: 100%;
	height: inherit;
	text-align: center;
}
.CompanyIcon{
	width: 50%;
	margin-left: -8%;
	cursor: pointer;
}
.ButtonText{
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	font-family: "Arial";
	font-weight: bold;
	font-size: 0.7em;
	color: white;
	cursor: pointer;
}
.IconTitleS{
	font-family: "Arial";
	text-align: center;
	position: relative;
	font-weight: lighter;
	margin-top: 10%;
	color: rgb(0,0,0);
	cursor: pointer;
}
.ThirdTitle{
	font-family: "Arial";
	font-weight: bold;
	font-size: 2em;
	color: rgb(55,54,226);
	margin-top: 0px;
	margin-bottom: 5px;
}
.NormalSize{
	width: 80%;
	margin-left: 10%;
}
.NormalSize2{
	width: 70%;
	margin-left: 15%;
}
.NormalSize3{
	width: 75%;
	margin-left: 12.5%;
}
.StableHeight{
	min-height: 250px;
	height: auto;
}
#CopyRightBox1{
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: "Arial";
}
#CopyRightBox2{
	margin-top: 15px;
	margin-bottom: 15px;	
}
#CopyRightPart{
	margin-top:0px;
	margin-bottom: 0px;
	padding-bottom: 26px;
	width: auto;
	background: rgb(43,43,43);
	position: relative;
	color: #535353;
}
#BottomLinkBox{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 78px;
}
#BottomLinkPart{
	width: 100%;
	background: rgb(43,43,43);
	position: relative;
	color: white;
	margin-bottom: 0px;
}
#BottomCopyRightPart{
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
.BlueLinkText{
	color: rgb(55,54,226)
}
.BottomLinkContentBox{
	width: 25%;
	float: left;
	height: auto;
}
.BottomLinkTitle{
	font-family: "Arial";
	text-align: left;
	position: relative;
	font-size: 1.2em;
	font-weight: 300;
	color: white;
	padding-bottom: 15%;
}
.SmallButtonTextLeft{
	width: auto;
	font-family: "Arial";
	text-align: left;
	font-weight: 100;
	color: #535353;
	position: relative;
	margin-top: 22px;
	cursor: pointer;
	font-size: 1em;
}
.Icons2{
	width: 80%;
	background-color: #057cd9;
	float: left;
	position: relative;
	top: 0;
	margin-top: 20px;
	margin-bottom: auto;
	cursor: pointer;
}
#StratifydLogoText{
	margin-left: 35px;
}
#CompanyIconTitleText{
	font-family: "Arial";
	font-weight: bold;
	font-size: 24px;
	color: black;
	cursor: pointer;
}
#NavBarPart{
/*	padding-left: 17%;*/
/*	padding-right: 17%;*/
	background-color: white;
	border-color: transparent;
	text-align: center;
	height: 56px;
	border-radius: 0%;
}
.NavBarButtons{
	font-family: "Arial";
	color: rgb(159,158,163);
	font-size: 14px;
	font-weight: 600;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: white;
	border-color: transparent;
	color: rgb(159,158,163);	
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 6px;
}
#CompanyTitelPartImportent{
/*	margin-left: 5%;*/
	margin-right: 5%;
}
#NavbarDetailPart{
/*	margin-left: 32%;*/
	background-color: white;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 5px;
	float: right;
}
#NavBarLoginButton{
	margin-top: 9.875px;
	font-size: 16.5px;
	width: 104px;
	height: 34px;
	border-radius: 5%;
	border-color: rgb(211,210,214);
	color: rgb(103,101,181);
	font-weight: 500;
	padding-top: 4.125px;
	padding-bottom: 4.125px;
}
#NavBarSignUpButton{
	margin-top: 9.875px;
	margin-left: 10px;
	font-size: 16.5px;
	width: 104px;
	height: 34px;
	border-radius: 5%;
	border-color: rgb(56,56,158);
	color: rgb(255,255,255);
	font-weight: 500;
	padding-top: 4.125px;
	padding-bottom: 4.125px;
	background-color: rgb(56,56,158);
}
#NavBarLoginPart{
/*	margin-left: 5%;*/
/*	float: right;*/
	text-align: -webkit-center;
}
#DraopDownMenu1{
	color: rgb(159,158,163);
}
#NavBarSignUpPart{
	text-align: -webkit-center;
}
.navbar{
	margin-bottom: 0px;
}
#NavTitleCompanyIcon{
	width: 10%;
}
#NavTitleCompanyIcon{
	width: 30px;
	position: absolute;
	margin-top: -10px;
}
.SecondRowTitle{
	font-family: "Arial";
	font-weight: bold;
	margin-top: 94px;
	font-size: 3em;
	margin-bottom: 128px;
	padding-left: 5%;
	padding-right: 5%;
}
.TopMargin{
	margin-top: 2%;
}
@media screen and (max-width: 768px) {
	#NavbarDetailPart{
		width: 100%;
		margin-left: 0px;
	}
}
