.IntroImage{
	width: 30%;
	position: relative;
}
.DetailImage{
	width: 60%;
	margin-left: 20%;
	height: auto;
	cursor: pointer;
}
#SignalIntroTextBox{
	width: 100%;
	margin-top: 2%;
}
#JionUsJobsSubTitleBox{
	width: 100%;
	margin-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
#ProductIntroBox{
	padding-bottom: 1%;
}
#ProductTryB1{
	position: relative;
	width: 272px;
	height: 60px;
	margin-top: 45px;
	border-radius: 3%;
}
#ProductDetailBox{
	margin-top: 4%;
}
.ProductSixSectionIntroBox{
	background-color: rgb(98,101,252);
}
.PopoutText{
	font-family: "Arial";
	text-align: right;
	font-size: 1em;
	font-weight: 300;	
	color: rgb(98,101,252);
	margin-top: 38px;
	cursor: pointer;
	margin-bottom: 50px;
/*	margin-top: 5%;*/
}
.DetailLessPartCut{
	width: 30%;
	float: left;
	height: 220px;
	overflow: hidden;
}
.DetailLargePartCut{
	width: 70%;
	height: 100%;
	padding-left: 8%;
	padding-right: 2%;
	float: left;
}
.ContentProDetailTitle-Left{
	text-align: left;
	color: rgb(81,81,82);
	cursor: pointer;
}
.ContentProDetailText-Left{
	font-family: "Arial";
	text-align: left;
	color: rgb(158,158,158);
	font-size: 1em;
	cursor: pointer;
}
.BoxSize{
	min-height: 250px;
	height: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}
.JobContentBox{
	background-color: white;
	padding-bottom: 50px;
	border-radius: 2%;
}
.ProductIntroDuceSubTitle{
	cursor: pointer;
	font-family: "Arial";
	color: black;
	font-style: normal;
	font-weight: lighter;
	font-size: 1.5em;
}
.ProductTextDetailTextBox{
	margin-top: 40px;
}
.ProductTextDetailTextInforPart{
	font-family: "Arial";
	color: rgb(158,158,158);
	font-size: 1em;
	cursor: pointer;	
}
#TitleBar{
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: white;
	background: url(../Resource/ProductPageImages/ProductBackground.jpg);
	background-size: cover;
	background-position: center center;
}
#JoinUsTitleBar{
	padding-top: 0px;
	padding-bottom: 70px;
	background-color: rgb(246,246,248);
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
#ProductBackgroundImage{
	padding-top: 206px;
	padding-left: 35px;
	padding-right: 35px;
}
#ProductIntroImage{
	width: 100%;
}
#ProductTitleBoxPart{
	padding-top: 108px;
	font-family: "Arial";
}
#SignalsTitle{
	font-weight: 600;
	font-size: 4em;
	color: white;
}
#SignalsIntroText{
	font-size: 1.3em;
	color: rgb(140,140,163);
	margin-top: 35px;
	margin-bottom: 35px;
	padding-left: 15px;
	padding-right: 15px;	
}
#JoinUsBigTitle{
	font-weight: 600;
	padding-left: 15px;
	padding-right: 15px;
}
.ThirdRankPageSubTitle{
	font-family: "Arial";
	font-size: 2.5m;
	font-weight: 600;
	color: black;
	margin-top: 45px;
	margin-bottom: 75px;
}
.ThirdRankPageContentBoxPart{
	padding-left: 30px;
	padding-right: 30px;
}
.ThirdRankPageContentTitle{
	font-family: "Arial";
	font-size:  2em;
}
.ThirdRankPageContentText{
	font-family: "Arial";
	font-size: 1.2em;
	color: rgb(158,158,158);
	padding-right: 0px;
	margin-top: 20px;
}
.ThirdRankImageIcon{
	
	width: 130.27px;
	max-width: 100%;
	max-height: 130.27px;

}
.JobsClass{
	margin-bottom: 20px;
	width: 100%;
	height: inherit;
	margin-left: 0px;
	margin-right: 0px;	
}
.JobsSelectClickable{
	cursor: pointer;
}
.JobsPaddingChange{
	padding-left: 0px;
	padding-right: 0px;
}
#ProductContent{
	padding-top: 118px;
	padding-bottom: 94px;
}
#DirectlyJobs1{
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 15px;
}
#DirectlyJobs2{
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 15px;
}
#JoinUsTitle{
	font-family: "Arial";
	padding-top: 96px;
	padding-left: 0px;
	padding-right: 0px;
}
#MediaImg1{
	width: 170px;
	max-height: 170px;
}
#MediaImg2{
	width: 170px;
	max-height: 170px;
}
#MediaImg3{
	width: 170px;
	max-height: 170px;
}
#MediaBtn1{
	margin-top: 5px;
}
#MediaBtn2{
	margin-top: 5px;
}
#MediaBtn3{
	margin-top: 5px;
}
#NavBarPart{
	background-color: transparent;
}
#NavBarPart2{
	margin-top: 0px;
}
@media screen and (max-width: 992px) {
	#ProductTitleBoxPart{
		padding-top: 212px;
	}
	#ProductIntroImage{
		width: 80%;
	}
	.ThirdRankPageContentText{
		padding-left: 0px;
		padding-right: 0px;
	}
	.ThirdRankPageContentTitle{
		padding-left: 30px;
		padding-right: 0px;
	}
	#ProductContent{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}	
}

@media screen and (max-width: 768px) {
	.ThirdRankPageContentText{
		padding-left: 0px;
		margin-top: 25px;
	}
	.ThirdRankPageContentTitle{
		padding-left: 10px;
	}
	#ProductContent{
		width: 100%;
	}
	.ThirdRankImageIcon{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.ThirdRankPageContentBoxPart
	{
		padding-left: 15px;
		padding-right: 15px;
	}
}