.IntroImage{
	width: 30%;
	position: relative;
}
.DetailImage{
	width: 60%;
	margin-left: 20%;
	height: auto;
	cursor: pointer;
}
#SignalIntroTextBox{
	width: 100%;
	margin-top: 2%;
}
#ProductIntroBox{
	padding-bottom: 1%;
}
#ProductTryB1{
	position: relative;
	width: 272px;
	height: 60px;
	margin-top: 45px;
	border-radius: 3%;
}
#ProductDetailBox{
	margin-top: 4%;
}
.DetailLessPartCut{
	width: 30%;
	height: 100%;
	float: left;
}
.DetailLargePartCut{
	width: 70%;
	height: 100%;
	padding-left: 8%;
	padding-right: 2%;
	float: left;
}
.ContentProDetailTitle-Left{
	text-align: left;
	color: rgb(81,81,82);
	cursor: pointer;
}
.ContentProDetailText-Left{
	font-family: "Arial";
	text-align: left;
	color: rgb(158,158,158);
	font-size: 1em;
	cursor: pointer;
}
#TitleBar{
	padding-top: 0px;
	padding-bottom: 172px;
	background-color: white;
}
#ProductBackgroundImage{
	padding-top: 206px;
}
#ProductIntroImage{
	width: 100%;
}
#ProductTitleBoxPart{
	padding-top: 206px;
	font-family: "Arial";
}
#SignalsTitle{
	font-weight: 600;
}
#SignalsIntroText{
	font-size: 1.5em;
}
@media screen and (max-width: 992px) {
	#ProductTitleBoxPart{
		padding-top: 45px;
	}
}